* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
  }

.linkButton {
  background-color: blue;
  color: white;
  border-radius: 100px;
  padding: 5px;
  margin-left: 10px;
}

#ordersContainer {
  border: 2px solid black;
  display: flex;
}

#ordersListContainer {
  background-color: aqua;
  width: 20%;
}

#orderDetailsContainer {
  background-color: gold;
  width: 80%;
}

form{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 10px;
}

form > *:not(:last-child){
    margin: 5px;
}

#loginForm{
    margin: 20px;
}

#registerForm{
    margin: 20px;
}

.formContainer{
    display: flex;
    justify-content: space-evenly;
}

#singleCartItem{
  border: 2px solid black;
  width: 50%;
  margin: 10px;
  padding: 10px;
}

ul{
  list-style: none;
}